/*==============================================================*/
/*=========================== FONTS ============================*/
/*==============================================================*/
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

/*==============================================================*/
/*========================== GENERAL ===========================*/
/*==============================================================*/

body {
    height: 100%;
    padding: 15px 30px;
    background-color: #393c3e;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
    z-index: 100;
}

.overlay .loaders {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader,
.loader:before,
.loader:after {
    background: #e09500;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 0.8em;
    height: 1.5em;
}

.loader {
    color: #e09500;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

.clear {
    clear: both;
}

.mirror {
    -moz-transform: scale(-1, 1) !important;
    -webkit-transform: scale(-1, 1) !important;;
    -o-transform: scale(-1, 1) !important;;
    -ms-transform: scale(-1, 1) !important;;
    transform: scale(-1, 1) !important;;
}

.hidden {
    display: none;
}

.cwise-rotated-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    font-size: 17px;
    color: #bababa;
}

.form-group input {
    border-color: transparent;
    color: #bababa !important;
}

.items-separator {
    background-color: #818181;
    margin: 0;
}

.items-container {
    max-height: 390px;
    overflow: hidden;
    overflow-y: scroll;
}

.item-container div {
    display: inline;
}

.item-container input {
    width: 50%;
    float: left;
    margin: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.item-container-fields {
    padding-right: 5px !important;
}

.item-container-icon {
    padding-top: 8px !important;
    padding-left: 5px;
}

.item-container-icon i {
    cursor: pointer;
    color: #bababa;
    font-size: 20px;
}

.item-container-icon .fa-plus:hover {
    color: lawngreen;
}

.item-container-icon .fa-minus:hover {
    color: red;
}

.sep {
    margin: 15px 0;
    vertical-align: middle;
    color: #8b8b8b;
}

.sep span {
    display: block;
    transform: translateY(25%);
    padding: 0 2%;
    width: 70%;
    text-align: center;
}

.sep hr {
    color: #8b8b8b;
    background: #8b8b8b;
    width: 15%;
}

/*===============================================================*/
/*========================= LEFT PANEL ==========================*/
/*===============================================================*/

.lpanel {
    box-shadow: 0 0 10px black;
    background: #1d1d1e url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='100'><rect width='56' height='100' fill='#1d1d1e'/><path d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/><path d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/></svg>");
}

.lpanel .tiles {
    padding: 0;
}

.lpanel .tiles ul {
    list-style: none;
    padding: 0;
    color: #bababa;
    text-align: center;
    margin-bottom: 0 !important;
}

.lpanel .tiles ul li {
    background-color: #282b2d;
    padding: 15px 0;
}

.lpanel .tiles ul li:hover {
    background-color: #323234;
    cursor: pointer;
}

.lpanel .tiles ul li.inactive {
    cursor: default;
    background-color: #282b2d;
    color: #4b4b4b;
}

.lpanel .tiles ul li.inactive:hover {
    background-color: #282b2d;
}

.lpanel .tiles ul li.active {
    cursor: default;
    background-color: transparent;
    color: #e09500;
}

.lpanel .tiles ul li.active:hover {
    background-color: transparent;
}

.lpanel .tiles ul li i {
    font-size: 33px;
}

.lpanel .tiles ul span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 10px;
}

/*===============================================================*/
/*===================== LEFT PANEL DETAILS ======================*/
/*===============================================================*/

.lpanel .details {
    overflow-y: scroll;
    height: calc(100vh - 30px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.lpanel-details-bottom-actions {
    position: absolute;
    bottom: 20px;
    right: 17px;
}

.lpanel-details-bottom-actions i {
    color: #bababa;
    cursor: pointer;
    font-size: 22px;
    border-radius: 30px;
    border: 2px solid #bababa;
    padding: 0.45em 0.4em;
}

.lpanel-details-bottom-actions i:hover {
    color: #e09500;
    border: 2px solid #e09500;
    box-shadow: 0 0 5px #e09500;
}

/*===============================================================*/
/*========================= EMPTY PANEL =========================*/
/*===============================================================*/

.lpanel .details .empty {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.lpanel .details .empty p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*===============================================================*/
/*========================= TEMPS PANEL =========================*/
/*===============================================================*/

.lpanel .details .temps img {
    cursor: pointer;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.lpanel .details .temps img:hover {
    opacity: 1;
}

/*===============================================================*/
/*========================= MAPS PANEL ==========================*/
/*===============================================================*/

.lpanel .details .map {
    padding: 0;
}

.lpanel .details .map .actions {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0;
}

.lpanel .details .map .actions i {
    position: relative;
    left: 0;
    color: #bababa;
    margin-right: 9px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 30px;
    border: 2px solid #bababa;
    padding: 0.4em 0.4em;
}

.lpanel .details .map .actions i:hover {
    color: #e09500;
    border: 2px solid #e09500;
    box-shadow: 0 0 5px #e09500;
}

.lpanel .details .map .actions .apply {
    color: #bababa;
    margin-right: 9px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 30px;
    border: 2px solid #bababa;
    padding: 0.4em 0.4em;
    margin-left: 82px;
}

/*===============================================================*/
/*========================= GATE PANEL ==========================*/
/*===============================================================*/

/*===============================================================*/
/*========================= ROBOT PANEL =========================*/
/*===============================================================*/

.lpanel-details-bottom-actions button {
    padding: 5px 15px;
    font-size: 1rem;
    color: #ffffffdb;
}

/*===============================================================*/
/*========================= RACK PANEL ==========================*/
/*===============================================================*/
.lpanel .details .rack .items-container {
    max-height: 260px;
}

/*===============================================================*/
/*======================= STATION PANEL =========================*/
/*===============================================================*/

/*===============================================================*/
/*======================= OBSTACLE PANEL ========================*/
/*===============================================================*/

/*===============================================================*/
/*======================== ORDERS PANEL =========================*/
/*===============================================================*/
.lpanel .details .order .items-container {
    max-height: 260px;
}

.lpanel .order .tab .container {
    font-family: 'Asap', sans-serif;
    width: 100%;
    height: 36px;
    margin: auto;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.lpanel .order .tab .inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    font-size: 15px;
    font-weight: bold;
}

.lpanel .order .tab .inner-container:nth-child(1) {
    background: transparent;
    border-bottom: 1px #bababa solid;
    color: #bababa;
}

.lpanel .order .tab .inner-container:nth-child(2) {
    background: transparent;
    color: #e09500;
    border-bottom: 1px #e09500 solid;
    font-weight: bolder;
    transition: .3s cubic-bezier(0, 0, 0, 1);
    clip-path: polygon(0% 0%, 25% 0%, 25% 100%, 0% 100%);
}

.lpanel .order .tab .toggle {
    width: 25%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

.lpanel .order .tab .toggle p {
    margin: auto;
}

.lpanel .order .tab .toggle:nth-child(1) {
    left: 0;
}

.lpanel .order .tab .toggle:nth-child(2) {
    left: 25%;
}

.lpanel .order .tab .toggle:nth-child(3) {
    left: 50%;
}

.lpanel .order .tab .toggle:nth-child(4) {
    right: 0;
}

.lpanel .order .empty {
    text-align: center;
    margin-top: 25px;
}

.orders-list {
    height: 490px;
    overflow-y: scroll;
    font-family: 'Asap', sans-serif;
    color: #bababa;
    font-size: 13px;
}

.orders-list .cont {
    margin-bottom: 10px;
    padding: 10px;
}

.orders-list .cont.bordered {
    border-bottom: 1px #494949 solid;
}

.orders-list .main-row {
}

.orders-list .main-row div {
    padding-left: 0;
    padding-right: 0;
}

.orders-list .row {
    margin-right: 0;
    margin-left: 0;
}

.orders-list .icon {
    font-size: 35px;
    text-align: left;
}

.orders-list .icon span {
    display: block;
}

.orders-list .order-details {
    padding-top: 0 !important;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.orders-list .order-details span {
    display: block;
}

.orders-list .order-details .row {
    width: 100%;
}

.orders-list .more {
    vertical-align: middle;
    text-align: center;
}

.orders-list .more i {
    cursor: pointer;
    display: block;
    position: relative;
    top: 35%;
}

.orders-list .more i:hover {
    color: lawngreen;
}

.orders-list .sep span {
    width: 40%;
}

.orders-list .sep hr {
    width: 30%;
}

.orders-list .items {
    display: block;
    margin-top: 15px;
}

.orders-list .items-row {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.orders-list .items-row b {
    font-weight: bold;
}

.orders-list .items-row .id {
    padding-left: 0;
    padding-right: 0;
}

.orders-list .items-row .state {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

/*===============================================================*/
/*========================= RIGHT PANEL =========================*/
/*===============================================================*/

.rpanel {
    box-shadow: 0 0 10px black;
    background: #1d1d1e url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='100'><rect width='56' height='100' fill='#1d1d1e'/><path d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/><path d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/></svg>");
}

/*===============================================================*/
/*========================= LOGS PANEL =========================*/
/*===============================================================*/

.rpanel .logs {
    overflow: hidden;
    overflow-y: scroll;
    height: 570px;
    color: #bababa;
    font-size: 11px;
}

.rpanel .logs .item {
    height: 40px;
    margin-top: 20px;
    padding: 0 16px;
}

.rpanel .logs .item .icon {
    padding: 0;
}

.rpanel .logs .item i.info {
    color: #3972bf;
}

.rpanel .logs .item i.warning {
    color: #7ba428;
}

.rpanel .logs .item i.error {
    color: #8b0000;
}

.rpanel .logs .item i.large {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
}

.rpanel .logs .item i.small {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 10px;
    padding: 4px;
    border-radius: 50px;
    background: #1d1d1e;
}

.rpanel .logs .item i.fa-truck-loading {
    font-size: 8px;
}

.rpanel .logs .item i.fa-boxes {
    font-size: 8px;
}

.rpanel .logs .item .text {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

.rpanel .logs .item .text span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rpanel .logs .sep {
    margin: 15px 0;
    vertical-align: middle;
    color: #8b8b8b;
}

.rpanel .logs .sep span {
    display: block;
    transform: translateY(25%);
    padding: 0 2%;
    width: 70%;
    text-align: center;
}

.rpanel .logs .sep hr {
    color: #8b8b8b;
    background: #8b8b8b;
    width: 15%;
}

/*===============================================================*/
/*========================= STATS PANEL =========================*/
/*===============================================================*/

.rpanel {
    padding: 15px;
}

.rpanel .stats {
    overflow: hidden;
    overflow-y: scroll;
    height: 570px;
}

.stats .row {
    padding: 0;
    margin: 10px 0 0 0;
    font-family: 'Asap', sans-serif;
}

.stats .row .key {
    float: left;
    font-size: 12px;
    width: 50%;
    color: #bababa;
    padding: 0;
    margin: 0;
}

.stats .row .value {
    float: right;
    font-size: 12px;
    width: 50%;
    color: #e09500;
    padding: 0;
    margin: 0;
}

/*===============================================================*/
/*====================== RIGHT ITEMS PANEL ======================*/
/*===============================================================*/

.rpanel .tab .inactive {
    color: #4b4b4b;
}

/*===============================================================*/
/*======================= RIGHT SIM PANEL =======================*/
/*===============================================================*/

.rpanel .tab .container {
    font-family: 'Asap', sans-serif;
    width: 100%;
    height: 36px;
    margin: auto;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.rpanel .tab .inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .2em;
}

.rpanel .tab .inner-container:first-child {
    background: transparent;
    border-bottom: 1px #bababa solid;
    color: #bababa;
}

.rpanel .tab .inner-container:nth-child(2) {
    background: transparent;
    color: #e09500;
    border-bottom: 1px #e09500 solid;
    font-weight: bolder;
    transition: .3s cubic-bezier(0, 0, 0, 1);
    clip-path: polygon(0% 0%, 33.33% 0%, 33.33% 100%, 0% 100%);
}

.rpanel .tab .toggle {
    width: 33.33%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

.rpanel .tab .toggle p {
    margin: auto;
}

.rpanel .tab .toggle:nth-child(2) {
    left: 33.33%;
}

.rpanel .tab .toggle:nth-child(3) {
    left: 66.66%;
}

/*==============================================================*/
/*======================== CENTER COL ==========================*/
/*==============================================================*/

.center-col {
    height: 640px;
    padding: 0 30px;
}

/*==============================================================*/
/*======================== CENTER MAP ==========================*/
/*==============================================================*/

.map-row {
    position: relative;
    z-index: 0;
    color: #bababa;
    height: calc(80% - 15px);
    margin-bottom: 15px;
    background: #1d1d1e;
    box-shadow: 0 0 10px black;
    transition: .25s;
}

.map-row.back {
    z-index: -1;
    box-shadow: 0 0 0 black;
    transition: .25s;
}

/*==============================================================*/
/*====================== CENTER CONTROLS =======================*/
/*==============================================================*/

.control-row {
    position: relative;
    z-index: 2;
    height: 20%;
    box-shadow: 0 0 10px black;
    background: #1d1d1e url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='100'><rect width='56' height='100' fill='#1d1d1e'/><path d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/><path d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/></svg>") 0 15px;
    vertical-align: middle;
}

.controls {
    position: relative;
    display: block;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 0 20px;
    color: #bababa;
}

.logo {
    position: absolute;
    left: 13px;
    top: 0;
    transform: translate(0, -13px);
}

.logo img {
    height: 100px;
}

.controls .play-pause {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 4px;
    cursor: pointer;
    font-size: 40px;
    color: #e09500;
    background: #050506;
    border: 1px solid #e09500;
    border-radius: 50px;
}

.controls .play-pause:hover {
    box-shadow: 0 0 10px #e09500;
}

.controls .play {
    padding: 15px 15px 15px 20px;
}

.controls .pause {
    padding: 15px 18px 15px 17px;
}

.controls .stop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -39%);
    margin-right: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #bababa;
    padding: 8px 30px 8px 14px;
    background: #050506;
    border: 1px solid #e09500;
    border-radius: 20px 0 0 20px;
}

.controls .stop:hover {
    box-shadow: 0 0 10px #e09500;
}

.controls .deploy-switch {
    cursor: pointer;
    font-family: 'Asap', sans-serif;
    display: inline;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(130%, -40%);
    border: 1px solid #e09500;
    background: #050506;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px 7px 22px;
    z-index: -1;
}

.controls .deploy-switch:hover {
    box-shadow: 0 0 10px #e09500;
}

.controls .deploy-switch.active {
    background: #e09500;
    color: #050506;
    font-weight: bolder;
}

.msg {
    width: 100%;
    margin-top: 30px;
    font-size: 12px;
    font-family: 'Asap', sans-serif;
}

.error-msg {
    color: #c62a15;
}

.info-msg {
    color: #78c631;
}

.settings {
    z-index: -1;
    display: none;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    color: #bababa;
    width: auto;
    height: 80%;
    box-shadow: 0 0 10px black;
    background: #1d1d1e url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='56' height='100'><rect width='56' height='100' fill='#1d1d1e'/><path d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/><path d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='rgba(0, 0, 0, 0.13)' stroke-width='2'/></svg>") 0 27px;
}

.settings.front {
    z-index: 0;
}

.settings .cont {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.settings .col-md-4 {
    height: calc(100vh - 41%);
    overflow-y: scroll;
    padding-right: 20px;
    padding-left: 20px;
}

.settings .col-md-4:before {
    content: "";
    position: absolute;
    right: 0;
    top: 7.5%;
    width: 1px;
    height: 85%;
    border-right: 1px solid #434343;
}

.settings .col-md-4:last-child:before {
    border-right: 0 solid transparent;
}
.settings .btn-cont {
    margin-top: 30px;
    text-align: right;
}

.settings .btn-cont button {
    color: #bababa !important;
    padding: 5px 15px;
    font-size: 1rem;
}

.controls .settings-icon {
    font-size: 22px;
    color: #8b8b8b;
    position: absolute;
    right: 16px;
    top: 37%;
    cursor: pointer;
    transition: .25s;
}

.controls .settings-icon.rotated {
    top: 37%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: .25s;
}

.controls .settings-icon:hover {
    color: #bababa;
}

/*==============================================================*/
/*========================= ANIMATIONS =========================*/
/*==============================================================*/

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 3em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 4em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 3em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 4em;
    }
}